html, body {
    margin: 0;
    padding: 0;

    width: 100%;
    height: 100%;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-sizing: inherit;
}

body {
    font-family: 'Open Sans', sans-serif;
}

input {
    font-family: 'Open Sans', sans-serif;
}

*:focus, *::-moz-focus-inner {
    outline: none;
}

*::-moz-focus-inner {
    border: none;
}

.orbisMap {
    width: 100%;
    height: 100%;

    position: relative;
    overflow: hidden;
}

.orbisTile {
    position: absolute;
    left: 0;
    top: 0;

    width: 256px;
    height: 256px;
}

.orbisTileHolderZoom {
    transition: transform 0.3s;
}